/* ----------------------------- */
/* Project  : Work Day Scheduler */
/* File     : style.css          */
/* Author   : Vicente Garcia     */
/* Date     : 03/08/2022         */
/* Modified : 03/09/2022         */
/* ----------------------------- */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}
textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  flex: auto;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}
/*.description{
  white-space: pre-wrap;
}*/
.time-block{
  text-align: center;
  border-radius: 15px;
}
.row {
  white-space: pre-wrap;
  border-top: 1px solid white;
}
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  padding: 17px;
  width: 90px;
  text-align: center;
  margin-bottom: 0px;
}

.past {
  background-color: #d3d3d3;
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  height: 52px;
  width: 5%;
  font-size: 20px;
}
.saveBtn:hover{
  box-shadow: 2px 1px 7px black;
  top: -1px;
  font-size: 30px;
  transition: all .3s ease-in-out;
}
.btnUpdate{
  background-color: rgb(6, 174, 213, .85);
}
.focusUpdate, .onUpdate{
  opacity: .85;
  
}
/*.saveBtn i:hover {
  font-size: 30px;
  transition: all .3s ease-in-out;
}*/
.line{
  border-bottom: 1px solid black;
}